* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F7F7F7;
}

.quicksand {
    font-family: Quicksand;
    font-optical-sizing: auto;
}

/* Common Style */
.section-center {
    width: 88%;
    max-width: 1130px;
    margin: 0 auto;
}

.nav-icon {
    display: none;
}

.nav-icon .fa-bars {
    transition: all 0.5s linear;
}

.nav-icon .fa-bars:active{
    transform: scale(1.05);
}

.btn {
    background-color: #FEA301;
    padding: 10px 60px;
    border: none;
    border-radius: 10px;        
    color: #FFF;
    font-size: 17px;
    cursor: pointer;
    transition: all 0.3s linear;
}

.btn:hover {
    transform: scale(1.03);
}

.curriculum-container 
.curriculum-content
.curriculum-cards:hover,
.curriculum-container 
.curriculum-icons 
.left-arrow:hover,
.curriculum-container 
.curriculum-icons 
.right-arrow:hover
{
    transform: scale(1.05);
}





/* Header-Section | 'Navber' */
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

/* Nav-logo */
.nav-container .nav-logo {
    display: flex;
    align-items: center;
    gap: 8px;
}

.nav-container .nav-logo .logo-img img {
    max-width: 50px;
}

.nav-container .nav-logo h1 {
    text-transform: uppercase;
    font-size: 32px;
}

/* Nav-Content */
.nav-container .nav-content ul {
    display: flex;
    list-style-type: none;
    gap: 30px;
}

.nav-container .nav-content ul li {
    font-size: 17px;
    font-weight: 600;
}

.nav-container .nav-content ul li:nth-of-type(1) {
    color: #ED9801;
}
.nav-container .nav-content ul li:nth-of-type(2) {
    color: #01ACFD;
}
.nav-container .nav-content ul li:nth-of-type(3) {
    color: #05D4DF;
}
.nav-container .nav-content ul li:nth-of-type(4) {
    color: #5D58EF;
}


/* Hero-Section */
.hero-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Hero-Text-Content */
.hero-container .hero-content {
    max-width: 550px;
}

.hero-container .hero-content h2 {
    font-size: 45px;
}

.hero-container 
.hero-content 
#hr-h2-yellow {
    color: #FEA301;
}

.hero-container 
.hero-content
#hr-h2-sky-blue {
    color: #01ACFD;
}

.hero-container .hero-content p {
    font-size: 17px;
    font-weight: 400;
    padding: 12px 0;
}

/* Hero-Button */
.hr-black-btn , .sc-black-btn{
    padding: 11px 40px;
    background-color: black;
}

/* Hero-img */
.hero-img img {
    max-width: 440px;
    vertical-align: middle;
}



/* Standard Curriculum Section */
.curriculum-container {
    padding: 50px 0 30px;
    text-align: center;
}

.curriculum-container h2 {
    font-size: 40px;
}

/* Curriculum-Cards */
.curriculum-container .curriculum-content {
    display: flex;
    justify-content: space-evenly;
    padding: 70px 0;
}

.curriculum-container 
.curriculum-content
.curriculum-cards {
    max-width: 320px;
    padding: 50px 15px 40px;
    border-radius: 18px;
    transition: all 0.3s linear;
}

.curriculum-container 
.curriculum-content
.curriculum-cards img {
    max-width: 120px;
}

.curriculum-container 
.curriculum-content
.curriculum-cards h3 {
    font-size: 22px;
    margin: 25px 0 22px;
}

.curriculum-container 
.curriculum-content
.curriculum-cards p {
    font-size: 13px;
    line-height: 26px;
    margin-bottom: 20px;
}

.curriculum-container 
.curriculum-content
.curriculum-cards a {
    font-size: 13px;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 900;
    transition: all 0.2s linear;
}

.curriculum-container 
.curriculum-content
.curriculum-cards a:hover {
    font-size: 14px;
}

/* Card-1 */
.curriculum-container 
.curriculum-content
.curriculum-cards:nth-of-type(1) {
    background-image: linear-gradient(#def5ff 2%, #FFF 90%);
    box-shadow: 0 0 3px #32b7ff72;
}

.curriculum-container 
.curriculum-content
.curriculum-cards:nth-of-type(1) a {
    color: #43bdff;
}

.curriculum-container 
.curriculum-content
.curriculum-cards:nth-of-type(1):hover {
    box-shadow: 0 0 5px #32b7ffbd;
}

/* Card-2 */
.curriculum-container 
.curriculum-content
.curriculum-cards:nth-of-type(2) {
    background-image: linear-gradient(#FFF4DC 2%, #FFF 90%);
    box-shadow: 0 0 3px #f0a80077;
}

.curriculum-container 
.curriculum-content
.curriculum-cards:nth-of-type(2) a {
    color: #F0AA00;
}

.curriculum-container 
.curriculum-content
.curriculum-cards:nth-of-type(2):hover {
    box-shadow: 0 0 5px #f0a800bc;
}

/* Card-3 */
.curriculum-container 
.curriculum-content
.curriculum-cards:nth-of-type(3) {
    background-image: linear-gradient(#F2E8FF 2%, #FFF 90%);
    box-shadow: 0 0 3px #8800ff74;
}

.curriculum-container 
.curriculum-content
.curriculum-cards:nth-of-type(1) a {
    color: #8700FF;
}

.curriculum-container 
.curriculum-content
.curriculum-cards:nth-of-type(3):hover {
    box-shadow: 0 0 5px #8800ffac;
}


/* Curriculum-Icons */
.curriculum-container .curriculum-icons {
    display: flex;
    justify-content: center;
    color: #FFF;
    font-size: 20px;
    gap: 10px;
}

.curriculum-container 
.curriculum-icons 
.left-arrow,
.curriculum-container 
.curriculum-icons 
.right-arrow
 {
    width: 55px;
    height: 55px;
    background-color:#ffa200;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s linear;
}



/* Stories-Section */
#story {
    padding: 50px 0;
    text-align: center;
    background-image: linear-gradient(#F7F7F7 10% , #fea10129);
}

#story h2 {
    font-size: 38px;
    margin-bottom: 70px;
}

.story-container {
    text-align: start;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 18px;
}

.story-container
.story-content-lf-img img ,
.story-container
.story-content-rg-img img {
    width: 100%;
}

.story-container
.story-content-lf,
.story-container
.story-content-rg {
    background-color: #FFF;
    border-radius: 15px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.098);
    transition: all 0.3s linear;
}

.story-container
.story-content-lf:hover,
.story-container
.story-content-rg:hover {
    transform: scale(1.02);
}

.story-container
.story-content-lf .lf-btn {
    position: relative;
    top:-25px;
    left: 30px;
    padding: 15px 20px;
    border-radius: 25px;
    border: none;
    background-color: #3cd7e8f1;
    color: #FFF;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s linear;
}

.story-container
.story-content-lf .lf-btn:hover {
    background-color: #3cd7e8;
    transform: scale(1.01);
}

.story-container
.story-content-lf h3 {
    max-width: 90%;
    font-size: 24px;
    padding: 5px 30px 0;
}

.story-container
.story-content-lf p {
    max-width: 90%;
    font-size: 14px;
    line-height: 24px;
    padding: 30px;
}


.story-container-rg {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 18px;
}

.story-container
.story-content-rg .rg-btn {
    position: relative;
    top:-22px;
    left: 30px;
    padding: 10px 25px;
    border-radius: 25px;
    border: none;
    background-color: #96b226ed;
    color: #FFF;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s linear;
}

.story-container
.story-content-rg .rg-btn:hover {
    background-color: #96b226;
    transform: scale(1.01);
}


.story-container
.story-content-rg .rg-btn-2 {
    background-color: #5d58f0e7;
}

.story-container
.story-content-rg .rg-btn-2:hover {
    background-color: #5d58f0;
}

.story-container
.story-content-rg h5 {
    max-width: 450px;
    font-size: 14px;
    padding: 5px 30px 30px;
    line-height: 24px;
}

.sc-img img {
    border-radius: 15px 15px 0 0;
}

#story .sc-btn {
    padding: 60px 0 0;
}



/* Footer Sectoin */
footer {
    background-color: #01ACFD;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 100px 50px 60px 0;
}

.footer-container .footer-content-1 .footer-logo img {
    background-color: #ffffff2b;
    border-radius: 10%;
    width: 100%;
    padding: 5px;
}

.footer-container .footer-content-1 .footer-logo {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #FFF;
    max-width: 60px;
    margin-bottom: 26px;
}

.footer-container .footer-content-1 .footer-logo h2 {
    font-size: 25px;
    line-height: 24px;
}

.footer-container .footer-content-1 p {
    max-width: 350px;
    color: #FFF;
    font-size: 16px;
}

.footer-container .footer-content-2 {
    color: #FFF;
}

.footer-container .footer-content-2 h4,
.footer-container .footer-content-3 h4 {
    margin-bottom: 17px;    
    font-weight: 700;
    font-size: 18px;
}

.footer-container .footer-content-2 p {
    margin-bottom: 15px;
    font-size: 15px;
}

.footer-container .footer-content-3 h4 {
    color: #FFF;
}

.footer-container .footer-content-3 .footer-icons {
    display: flex;
    gap: 10px;
}

.footer-container 
.footer-content-3 
.footer-icons .fb,
.footer-icons .drib,
.footer-icons .twi,  
.footer-icons .gog {
    max-width: 35px;
}

.footer-container 
.footer-content-3 
.footer-icons .fb img,
.footer-icons .drib img,
.footer-icons .twi img,  
.footer-icons .gog img {
    width: 100%;
}
